* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}

body {
    font-size: 16px;
    background-color: rgb(226, 82, 255);
}

footer {
    margin-top: 60px;
}

footer p {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.hr1 {
    border: 1px solid rgba(255, 255, 255, 0.75);
}

.hr2 {
    border: 1px dashed rgba(255, 255, 255, 0.75);
}

.navbar nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 10px;
}

.navbar nav li {
    float: left;
}

.navbar nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
}

.right {
    float: right;
}

.content {
    padding: 0px 5%;
}

.title {
    font-size: 32px;
    margin-top: 45px;
    padding-bottom: 20px;
}

.title a {
    text-decoration: none;
}

.main {
    margin-bottom: -15px;
    padding: 40px 0px;
}

.main p {
    margin-top: 22.5px;
}

.main ul {
    margin-top: 15px;
}

.main ul li {
    margin-top: 10px;
    margin-left: 30px;
}

.no-decor {
    text-decoration: none;
}

.title-img {
    margin-bottom: -15px;
    margin-right: -10px;
    border-radius: 50%;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: -10px;
    margin-right: 20px;
    margin-bottom: -5px;
}

.services ul {
    margin-top: 20px;
    margin-left: 30px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blink_text {
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% { color: red; }
    16.6% { color: orange; }
    33.2% { color: yellow; }
    49.8% { color: green; }
    66.4% { color: blue; }
    83% { color: indigo; }
    100% { color: purple; }
}